html,

body{
background: #659DBD;
font-family:Georgia, garamond;
font-size: 16px;
color: #161E27;
}

.pagearea{
  margin-left: 20px;
  padding:70px;
  color: #e1e7f0;
  text-shadow: 0 0 2px #041061, 0 0 3px #041061;
}
.pagearea img{
  float: left;
  margin:40px;
  max-width: 15%;
  max-height: 15%;
  border: 3px solid #26A7F7;
  border-style: inset;
  border-radius: 140px;
}
#mainPage{
  width:95%;
  max-width:900px;
  background:#E1CA96;
  margin:20px auto;
  padding:50px;
  border: 4px solid #d1c29f;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
p{
  width: 85%;
  line-height: 1.7em;
  background: #E1CA96;
  margin:5px;
  margin-left: 30px;
  padding: 10px;
  font-family: Georgia;
  font-size: 1em;
  color: #000;
}
section{
  margin-top: 100px;
  padding 100px 0 0;
}
.Jobimg img{
  margin:20px;
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  background: #26A7F7;
  border: 2px solid #26A7F7
}
.Profileimgs img{
  float: left;
  margin:40px;
  margin-bottom: 147px;
  max-width: 50%;
  max-height: 50%;
  border-radius: 10px;
  background: #26A7F7;
  border: 2px solid #26A7F7;
}
h1{
  border-bottom:3px solid #26A7F7;
  margin-top: 50px;
  padding 50px 0 0;
  width: 90%;
}
h2{
  width: 35%;
  margin: 30px;
  font-size: 1em;
  padding 10px;
  border-bottom:1px solid #26A7F7;
}
h3{
  font-size: .8em
}
ul{
  list-style-type: none ;
  font-size: 14px;
  line-height: 1.4em;
  text-shadow:;
}
